# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. Pandas
3. Scipy
4. Matplotlib


| Data Science Tools | 
| --- |
| Jupyter Notebook  |
| R Studio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
a=200/60
print(f"{round(a,2)} hours")

3.33 hours

**Objectives:**
* Python
* R
* SQL
* Julia
* C++

## Author
Vincent Pozos